
<html>
    <head>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>


<div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>Admin/Employee Registration Form</h2>
      </div>
      <div class="row clearfix">
        <div class="">
          <form (submit)="onRegister(userForm)" #userForm="ngForm">


            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
              <input type="email" name="username" placeholder="Email" ngModel #username="ngModel" required>
              <mat-error *ngIf="username.invalid"></mat-error>
            </div>

            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input type="password" name="password" placeholder="Password" ngModel #password="ngModel" required>
              <mat-error *ngIf="password.invalid"></mat-error>
            </div>

            <div class="row clearfix">

              <div class="col_half">

                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input type="text" name="firstName" placeholder="First Name" ngModel #firstName="ngModel">
                  <mat-error *ngIf="firstName.invalid"></mat-error>
                </div>

              </div>

              <div class="col_half">

                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input type="text" name="lastName" placeholder="Last Name" ngModel #lastName="ngModel" required>
                  <mat-error *ngIf="lastName.invalid"></mat-error>
                </div>

              </div>
            </div>

                <div class="input_field select_option">
                  <select name="role" ngModel #role="ngModel">
                    <option>Select a role</option>
                    <option value="admin">Admin</option>
                    <option value="employee">Employee</option>
                  </select>


                  <div class="select_arrow"></div>
                </div>

            <button class="button" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>


    </body>
</html>

